{% extends "base.html" %}

{% block title %}Tweet Detail{% endblock %}

{% block content %}
<article>
    <div>投稿者: {{ object.author }}</div>
    <div>日時: {{ object.created_at }}</div>
    <div>{{ object.content }}</div>
    <a href="{% url 'tweets:delete' pk=object.pk %}">削除する</a>
</article>
<button class="like-btn" data-tweet-id="{{ object.pk }}" data-liked="{% if request.user in object.liked_tweet.all %}true{% else %}false{% endif %}">
    {% if request.user in object.liked_tweet.all %}
        Unlike
    {% else %}
        Like
    {% endif %}
</button>
<span id="like-count-{{ object.pk }}">{{ object.liked_tweet.count }} likes</span>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const likeButtons = document.querySelectorAll(".like-btn");

        likeButtons.forEach(button => {
            button.addEventListener('click', function () {
                const tweetId = this.dataset.tweetId;
                const isLiked = this.dataset.liked === 'true';
                const likeCountElement = document.querySelector(`#like-count-${tweetId}`);
                const currentLikeCount = parseInt(likeCountElement.textContent);
                const url = isLiked ? `/tweets/${tweetId}/unlike/` : `/tweets/${tweetId}/like/`;

                // isLikedがtrue => これから、userがunlikeする
                // isLikedがfalse => これから、userがlikeする
                this.textContent = isLiked ? 'Unlike' : 'Like';
                this.dataset.liked = isLiked ? 'false' : 'true';
                likeCountElement.textContent = isLiked ? `${currentLikeCount + 1} likes` : `${currentLikeCount - 1} likes`;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        console.error('Error:', data.error);
                    } else {
                        this.textContent = data.status === 'liked' ? 'Unlike' : 'Like';
                        this.dataset.liked = data.status === 'liked' ? 'true' : 'false';
                        likeCountElement.textContent = `${data.like_count} likes`
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
